:root{
    --offcanvas-width: 270px; 
    --topNavbarHeight: 56px; 
}
.sidebar-nav{
    width: var(--offcanvas-width)
}
.sidebar-link{
    display: flex;
    align-items: center;

}
.sidebar-link .right-icon{
    /* display: inline-flex;
    color: 'blue' */
}
.right-icon{
    color: 'blue'
}
.sidebar-link[aria-expanded="true"].right-icon{
    transform: rotate(180deg);
}
.dashboardNavbar{
    background-color: #2A2A2A;
    
}
.dashboardOffCanvas{
    background-color: #2A2A2A;
  
}
.offCanvasLink {
    color: white;
    /* color: rgb(155, 159, 165); */
    text-decoration: none;
}
.offCanvasLink:hover {
    color: #B18F6A;
}
@media  (min-width: 992px){
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight); 
        height: calc(100% - var(--topNavbarHeight)); 
    }
}