.saha-motors-footer{
    background-color: #2A2A2A;
    /* background-color: rgb(42, 42, 42); */
    /* background-color: #2A2A2A; */
    color: white;
    /* color: #9B9FA5; */
}
.saha-motors-footer a{
    text-decoration: none;
    color: whitesmoke
}
.saha-motors-footer a:hover{
    color: #B18F6A;
}